/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

&mt {
    tapping-term-ms = <210>;
    flavor = "tap-preferred";
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  esc |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    |  LWR TAB| LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
  &kp ESC  &kp Q  &kp W          &kp E     &kp R                 &kp T                    &kp Y     &kp U                &kp I                    &kp O                &kp P        &mt UNDER MINUS
&kp LCTRL  &kp A  &kp S          &kp D     &kp F                 &kp G                    &kp H     &kp J                &kp K                    &kp L  &mt COLON SEMICOLON  &mt DOUBLE_QUOTES SQT
&kp LSHFT  &kp Z  &kp X          &kp C     &kp V                 &kp B                    &kp N     &kp M  &mt LESS_THAN COMMA  &mt GREATER_THAN PERIOD   &mt QUESTION SLASH                &kp RET
                         &lt LOWER TAB  &kp BSPC  &mt LEFT_SHIFT SPACE    &mt RIGHT_SHIFT SPACE  &kp BSPC        &lt RAISE TAB
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp LG(LS(S))  &mt EXCL NUMBER_1  &mt AT_SIGN NUMBER_2  &mt LS(HASH) NUMBER_3  &mt DOLLAR NUMBER_4  &mt PERCENT NUMBER_5    &mt CARET NUMBER_6  &mt AMPERSAND NUMBER_7  &mt ASTERISK NUMBER_8  &mt LEFT_PARENTHESIS NUMBER_9  &mt RIGHT_PARENTHESIS NUMBER_0  &trans
     &kp LGUI             &trans                &trans                 &trans               &trans                &trans                &trans                  &trans                 &trans                         &trans                          &trans  &trans
       &trans             &trans                &trans                 &trans               &trans                &trans                &trans                  &trans                 &trans                         &trans                          &trans  &trans
                                                                       &trans               &trans                &trans                &trans                 &kp DEL              &lt 3 TAB
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&mt TILDE GRAVE  &mt EXCL NUMBER_1  &mt AT_SIGN NUMBER_2  &mt LS(HASH) NUMBER_3  &mt DOLLAR NUMBER_4  &mt PERCENT NUMBER_5    &mt CARET NUMBER_6  &mt AMPERSAND NUMBER_7  &mt ASTERISK NUMBER_8  &mt LEFT_PARENTHESIS NUMBER_9  &mt RIGHT_PARENTHESIS NUMBER_0      &mt PLUS EQUAL
      &kp RCTRL             &trans                &trans                 &trans               &trans                &trans              &kp HOME                  &kp UP                &kp END                         &trans                          &trans  &mt PIPE BACKSLASH
         &trans             &trans                &trans                 &trans               &trans                &trans              &kp LEFT                &kp DOWN              &kp RIGHT    &mt LEFT_BRACE LEFT_BRACKET   &mt RIGHT_BRACE RIGHT_BRACKET              &trans
                                                                      &lt 3 TAB              &kp DEL                &trans                &trans                 &kp DEL               &kp RALT
            >;
        };

        top_layer {
            bindings = <
&bt BT_CLR  &kp F1  &kp F2  &kp F3        &kp F4           &kp F5             &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11
&bt BT_NXT  &trans  &trans  &trans  &kp LEFT_ALT          &kp TAB    &kp C_VOLUME_UP  &trans  &trans  &trans   &trans  &kp F12
&bt BT_PRV  &trans  &trans  &trans        &trans  &kp LC(LA(DEL))       &kp C_VOL_DN  &trans  &trans  &trans   &trans   &trans
                            &trans        &trans           &trans             &trans  &trans  &trans
            >;
        };
    };
};
